.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 5px solid rgb(10, 10, 10);
    padding: 20px;
    border-radius: 25px;
    background-color: antiquewhite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 350px;
    min-width: 250px;
}

.display{
    background-color: aliceblue;
    grid-column: span 4;
    text-align: center;
    max-height: 50px;
    max-width: 250px;
    font-size: 2em;
    border-radius: 15px;
    background-color: #e0e0e0;
    border: 1px solid #333
}

.calculator button{
    border-radius: 15px;
    border-style: inherit;
    max-height: 35px;
}

.calculator button:hover{
    background-color: #969393;
    transform: scale(1.023);
    transition: 0.3s;
}

.calculator button:active{
    background-color: #484855;
}